@using StockTrader.Models
@model IEnumerable<StockTrader.Models.CompanyViewModel>

@{
    ViewBag.Title = "Index";
}

@Scripts.Render("~/bundles/jquery")
<h2>Companies</h2>



<div class="col-md-3 ibox float-e-margins">
    <ul class="nav">
        <li class="nav-header">



        </li>
        @foreach (CompanyViewModel item in Model)
        {

            <li>
                <span onclick="reload('@(item.symbol)', '@(item.name)')" href=""> <span class="nav-label">@Html.DisplayFor(modelItem => item.name) </span></span>

            </li>

        }



    </ul>


</div>
<div id="companyinfo" class="col-md-8 panel panel-default">


</div>

<script>

    function reload(arg, name) {
     
        $('#companyinfo').html('');
        $.ajax({
            type: 'POST',
            url: "/Companies/GetNewsForCompany",
            data: { companyName: arg },
            success: function (data) {

                var html = '<div class="col-md-6"><h2>' + name + '</h2> </div>';

                html += "<div class='col-md-6'><button onclick = observe('" + arg + "') class='btn btn-block no-rounded-btn btn-primary btn-lg' data-modal=''>Observe</a></div><div class='panel-body'>";
                for (var i = 0; i < data.length; i++) {
                    html += '<div><h2> <a href="' + data[i].Link + '"> <span class="nav-label">' + data[i].Header + '</span></a></h2></li>';
                    html += '<li><span class="nav-label">' + data[i].Description + '</span><div>';
                }
                html += '</div>';


                $('#companyinfo').append(html);
         
            }
        });


    }

    function testt(arg) {
        alert(arg);
    }
    function observe(arg) {

        $.ajax({
            type: 'POST',
            url: "/StockWallet/Create",
            data: { CompanySymbol: arg },
            success: function (data) {

                alert("test");

            }
        });
       


    }

</script>